*.log

__pycache__/
*.pyc

.ruff_cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Docs
docs/_build/

# ignore notebook check‑points
**/.ipynb_checkpoints
# do NOT ignore the notebooks/ folder itself
